# Database Credentials (Neon Serverless)
DATABASE_URL=postgresql://neondb_owner:mat_khau_cua_ban@ep-cool-cloud-123456.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# JWT Secret
JWT_SECRET=your_super_secret_key_here